extends ../templates/default
block content
  div(ng-app='')
    form#formSearch.formSearch(method='post', action='/users/busqueda')
      .col-md-4.col-md-offset-4
        .col-md-9
          input#search.form-control(name="autor" ,type='text', ng-model='busqueda', placeholder='Busca tu Autor', aria-label='Username', aria-describedby='basic-addon1')

        .col-md-3
          button#boton.btn.btn-warning(name='boton', type='button')
            span.glyphicon.glyphicon-search(aria-hidden='true')
          br
          br
      .col-md-3.col-md-offset-5  
          .row
            .col-md-6(style = "width: 60%;" )
              h5
              | Cantidad de Resultados: 
            .col-md-4
              select#cantRes.form-control-sm.form-control(name="cantidad", data-width='150px')
                option(value='10') 10
                option(value='15') 15
                option(value='20') 20
                option(value='25') 25
    .container                
    .principal
      #buscador
        h4(align='center') Resultados de: {{busqueda}}
        div(align='center') 
      #customResults
        script.
          (function() {
          var cx = '005416834225651398663:wm4pxcxvpc8';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
          })();
        gcse:search
      #resultados
        
        #resultados
          .contDatEsc#contDatEsc
            .biog#biog
              b=wikipedia[1][0]
              p(align='justify')=wikipedia[2][0]
            .foto#foto(align='center')
              
              img(src=image.items[1].pagemap.cse_image[0].src)
              script.
                console.log(JSON.parse(image.items[1].pagemap.cse_image[0].src));
            .enlac#enlac
              a(href=wikipedia[3][0], target='_blank')
                br
                br
                button#bwikipedia.btn.btn-warning(type='button') Ver en Wikipedia
          hr
          if books.items
            each book in books.items
              #contGen.contenedorGeneral
                .contenedorSuperior
                  .contenedorDatosLibro
                    p
                      b Libro 
                      p=book.volumeInfo.title
                    p
                      b Autor
                      p=book.volumeInfo.authors
                    p
                      b Editorial
                      p=book.volumeInfo.publisher
                    p
                      b Fecha de Publicación
                      p=book.volumeInfo.publishedDate
                  .contenedorImagenLibro
                    if book.volumeInfo.imageLinks
                      img(src=book.volumeInfo.imageLinks.thumbnail)
                #contInf.contenedorInferior
                  a(href='/detalle/'+book.id, target='_blank')
                    button#binfod.btn.btn-primary(type='button') Ver información detallada
                
            


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
